*.spr
*.dat
*.pic


*.exe
*.dll
*.so
*.dylib
*.bin

build/
bin/
obj/
*.o
*.obj
*.lib
*.a

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env


*.log
*.dmp
*.tlog

.vscode/
.idea/
*.suo
*.user
*.pdb


Thumbs.db
.DS_Store